/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */
.dialogBox {
  border: none;
  outline: 1px solid #a8a8a9;
  animation: zen-dialog-fade-in 0.3s ease-out;
  border-radius: 12px !important;
  @media (prefers-color-scheme: dark) {
    outline-color: #44495a;
    outline-offset: -2px;
    border: 1px solid black;
  }
}
