/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

&:not([zen-single-toolbar='true']) {
  & #navigator-toolbox {
    --zen-toolbox-top-align: var(--zen-element-separation);
  }

  & #titlebar {
    margin-top: var(--zen-element-separation) !important;
  }

  & #zen-appcontent-wrapper {
    z-index: 3 !important;
  }

  & #zen-appcontent-navbar-wrapper {
    & .zen-toolbar-background {
      display: flex;
    }
    transition: height 0.15s ease;

    height: calc(var(--zen-element-separation) + 0.1px);
    overflow: clip;

    & #urlbar:not([breakout-extend='true']) {
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.15s ease;
    }

    & .titlebar-buttonbox-container {
      visibility: hidden;
      /* We need to hide them since on Windows the native
       * panels when hovering over them can interfere with the
       * web content */
      transition: visibility 0.15s ease;
    }
  }

  &
    #zen-appcontent-navbar-wrapper[zen-has-hover]:not(
      :has(#urlbar[zen-floating-urlbar='true']:hover)
    ),
  & #zen-appcontent-navbar-wrapper[has-popup-menu],
  &
    #zen-appcontent-navbar-wrapper:has(
      *:is([panelopen='true'], [open='true'], #urlbar:focus-within, [breakout-extend='true']):not(
          #urlbar[zen-floating-urlbar='true']
        ):not(.zen-compact-mode-ignore)
    ) {

    height: var(--zen-toolbar-height-with-bookmarks);
    overflow: inherit;

    & .titlebar-buttonbox-container {
      visibility: visible;
      transition: none;
    }

    & #urlbar {
      opacity: 1;
      pointer-events: auto;
    }
  }
}
